body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.body-wrapper {
  overflow: hidden;
  height: 100%;
  position: relative;
}

.header {
  background-color: #829985;
}

main {
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #829985;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-container {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.header-container .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 70px;
  margin-left: 0;
  padding: 0;
}
.header-container .nav-list .nav-link {
  padding: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 0;
  color: black;
  margin: 0 10px;
  font-size: 20px;
  font-weight: 300;
}
.header-container .nav-list .nav-link:hover {
  color: white;
}
.header-container .burger-menu-btn {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border: none;
  outline: none;
  display: none;
  z-index: 2;
  cursor: pointer;
}

.title-container {
  padding: 50px 30px 35px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 15px solid #d7d1c9;
  padding-bottom: 25px;
}
.title-container .avatar {
  border-radius: 200px;
  width: 250px;
  height: 250px;
  background-image: url(/assets/myPhoto.jpg);
  background-position: 0% 55%;
  background-size: 100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}
.title-container .avatar:hover {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  background-size: 140%;
}
.title-container .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.title-container .name .myName {
  font-weight: 300;
  font-size: 32px;
  letter-spacing: 2px;
  word-spacing: 10px;
  text-transform: uppercase;
  line-height: 50px;
  margin-bottom: 20px;
}
.title-container .name .jobTitle {
  margin-top: 20px;
  font-weight: 300;
  font-size: 32px;
  word-spacing: 5px;
  text-transform: uppercase;
  line-height: 50px;
  margin-bottom: 20px;
}
.title-container .name hr {
  border: none;
  background-color: #829985;
  color: #829985;
  width: 200px;
  height: 2px;
}

.information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.information .wrapper {
  border-bottom: 1px solid #672f2f;
  width: 90%;
}
.information .english {
  border: none;
}
.information .education {
  border: none;
}
.information .section {
  padding-left: 10px;
}
.information .section .text {
  line-height: 1.5;
}
.information .section a :hover {
  color: black;
}
.information .section i {
  word-spacing: -1px;
  color: #829985;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.information .section p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  color: black;
  letter-spacing: 1px;
  margin: 10px 0;
}
.information .section h1 {
  margin: 15px 0;
  font-weight: 499;
  font-size: 24px;
  color: #829985;
  letter-spacing: 2px;
}

code {
  white-space: pre;
}

footer {
  background-color: #829985;
  height: 70px;
}
footer .container-footer {
  padding: 8px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .container-footer .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
footer .container-footer .left-side a {
  color: white;
  padding: 0 10px;
  -webkit-transition: 1s;
  transition: 1s;
}
footer .container-footer .left-side a:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}
footer .container-footer img {
  width: 80px;
  height: 50px;
  -webkit-transition: 1s;
  transition: 1s;
}
footer .container-footer img:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}

@media screen and (max-width: 860px) {
  .header-container {
    min-height: 50px;
  }
  .header-container .burger-menu-btn:hover span {
    background-color: #d7d1c9;
  }
  .header-container .burger-menu-btn {
    background-color: transparent;
    display: block;
  }
  .header-container .burger-menu-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    display: block;
    left: 5px;
    -webkit-transition: 0.5s, opacity 0s;
    transition: 0.5s, opacity 0s;
  }
  .header-container .burger-menu-btn span:nth-child(1) {
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .header-container .burger-menu-btn span:nth-child(2) {
    opacity: 1;
  }
  .header-container .burger-menu-btn span:nth-child(3) {
    -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
            transform: translateY(10px);
  }
  .header-container.open .burger-menu-btn {
    background-color: transparent;
  }
  .header-container.open .burger-menu-btn span:nth-child(1) {
    -webkit-transform: translateY(0) rotate(45deg);
        -ms-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
  .header-container.open .burger-menu-btn span:nth-child(2) {
    opacity: 0;
  }
  .header-container.open .burger-menu-btn span:nth-child(3) {
    -webkit-transform: translateY(0) rotate(-45deg);
        -ms-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
  }
  .nav {
    position: absolute;
    right: -250px;
    top: 0;
  }
  .nav .nav-list {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 1;
    background-color: #abc4ae;
    position: relative;
    display: block;
    text-align: center;
    width: 250px;
    height: 260px;
    margin: 0;
  }
  .nav .nav-list .nav-item {
    line-height: 1.8;
  }
  .information {
    grid-template-columns: 1fr;
  }
  .information .education {
    border-bottom: 1px solid #672f2f;
  }
  .title-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
  footer {
    height: 90px;
  }
  footer .container-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    padding-bottom: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .container-footer p {
    margin: 0;
  }
}
.header-container.open .nav-list {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  visibility: visible;
}