$space-div: 25px;
$green-color: #829985;


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.body-wrapper {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.header {
    background-color: $green-color;

}

main {
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: $green-color;
    cursor: pointer;


}


.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header-container {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: end;

    .nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        height: 70px;
        margin-left: 0;
        padding: 0;

        .nav-link {
            padding: 5px;
            transition: 0.3s;
            transition: 0.5s;
            border-bottom: 0;
            color: black;
            margin: 0 10px;
            font-size: 20px;
            font-weight: 300;


            &:hover {
                color: white;
            }
        }
    }

    .burger-menu-btn {
        position: relative;
        width: 40px;
        height: 40px;
        margin-right: 20px;
        border: none;
        outline: none;
        display: none;
        z-index: 2;
        cursor: pointer;
    }
}

.title-container {
    padding: 50px 30px 35px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 15px solid #d7d1c9;
    padding-bottom: $space-div;



    .avatar {
        border-radius: 200px;
        width: 250px;
        height: 250px;
        background-image: url(/assets/myPhoto.jpg);
        background-position: 0% 55%;
        background-size: 100%;
        transition: 0.7s;
        transform: scale(0.8);
        box-shadow: 0 1px 4px rgba(0, 0, 0, .6);


        &:hover {
            transform: scale(1);
            background-size: 140%;
        }
    }

    .name {
        display: flex;
        flex-direction: column;
        align-items: center;

        .myName {
            font-weight: 300;
            font-size: 32px;
            letter-spacing: 2px;
            word-spacing: 10px;
            text-transform: uppercase;
            line-height: 50px;
            margin-bottom: 20px;
        }

        .jobTitle {
            margin-top: 20px;
            font-weight: 300;
            font-size: 32px;
            word-spacing: 5px;
            text-transform: uppercase;
            line-height: 50px;
            margin-bottom: 20px;
        }

        hr {
            border: none;
            background-color: $green-color;
            color: $green-color;
            width: 200px;
            height: 2px;
        }
    }
}

.information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .wrapper {
        border-bottom: 1px solid #672f2f;
        width: 90%;

    }

    .english {
        border: none;
    }

    .education {
        border: none;
    }

    .section {
        padding-left: 10px;

        .text {
            line-height: 1.5;
        }

        a :hover {
            color: black
        }


        i {
            word-spacing: -1px;
            color: $green-color;
            transition: 0.5s;
        }



        p {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: normal;
            line-height: 1.5;
            color: black;
            letter-spacing: 1px;
            margin: 10px 0;
        }

        h1 {
            margin: 15px 0;
            font-weight: 499;
            font-size: 24px;
            color: $green-color;
            letter-spacing: 2px;
        }


    }
}

code {
    white-space: pre;
}

footer {
    background-color: $green-color;
    height: 70px;

    .container-footer {
        padding: 8px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-side {
            display: flex;
            align-items: center;
            color: white;

            a {
                color: white;
                padding: 0 10px;
                transition: 1s;


                &:hover {
                    filter: invert(1);
                }
            }
        }

        img {
            width: 80px;
            height: 50px;
            transition: 1s;


            &:hover {
                filter: invert(1);
            }
        }
    }
}

@media screen and (max-width:860px) {


    .header-container {
        min-height: 50px;

        .burger-menu-btn:hover span {
            background-color: #d7d1c9;

        }

        .burger-menu-btn {
            background-color: transparent;
            display: block;

            span {
                position: absolute;
                width: 30px;
                height: 3px;
                background-color: black;
                display: block;
                left: 5px;
                transition: 0.5s, opacity .0s;

                &:nth-child(1) {
                    transform: translateY(-10px);
                }

                &:nth-child(2) {
                    opacity: 1;
                }

                &:nth-child(3) {
                    transform: translateY(10px);
                }



            }
        }
    }

    .header-container.open {
        .burger-menu-btn {
            background-color: transparent;

            span {
                &:nth-child(1) {
                    transform: translateY(0) rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: translateY(0) rotate(-45deg);
                }
            }
        }
    }

    .nav {
        position: absolute;
        right: -250px;
        top: 0;



        .nav-list {
            transition: 0.5s;
            z-index: 1;
            background-color: #abc4ae;
            position: relative;
            display: block;
            text-align: center;
            width: 250px;
            height: 260px;
            margin: 0;


            .nav-item {
                line-height: 1.8;
            }

        }
    }

    .information {
        grid-template-columns: 1fr;

        .education {
            border-bottom: 1px solid #672f2f;
        }
    }

    .title-container {
        flex-direction: column;
        margin-top: 30px;

    }
    footer {
        height: 90px;
    
        .container-footer {
            flex-direction: column;
            gap: 10px;
            padding-bottom: 0;
            justify-content: space-between;
    
            p {
                margin: 0;
            }
        }
    }
}

.header-container.open .nav-list {
    transform: translateX(-100%);
    visibility: visible;
}

